.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}
.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__title {
  color: #212428;
  font-weight: 400;
  font-size: 26px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.popup__content {
  margin: 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 32px;
  width: 50%;
  width: 836px;
  position: relative;
  z-index: 30;
}
.popup__btn {
  margin-top: 0 !important;
}
.popup__close {
  cursor: pointer;
}
.popup__content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup__red {
  color: red;
}
.popup__thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  width: 856px;
  padding: 32px 64px;
  background-color: #f8f9fa;
  border-radius: 32px;
}
.popup__back {
  width: 117px;
  padding: 18.5px 32px;
  position: relative;
  color: #f8f9fa;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #212428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #212428;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  overflow: hidden;
  z-index: 2;
}
.popup__back img {
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popup__back span {
  z-index: 2;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.popup__back::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 0;
}
.popup__back:hover::before {
  top: 0;
}
.popup__back:hover span {
  color: #212428;
}
.popup__back:hover img {
  -webkit-filter: brightness(4) invert(1);
          filter: brightness(4) invert(1);
}
.popup h2 {
  font-size: 32px;
  line-height: normal;
  font-weight: 700;
}
.popup p {
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #f8f9fa;
  overflow-x: hidden;
  color: #212428;
  font-weight: 400;
  font-size: 14px;
}
body h1 {
  color: #212428;
  font-weight: 500;
  font-size: 50px;
}
body h4 {
  font-size: 26px;
}
body a {
  text-decoration: none;
  position: relative;
}
body p {
  color: #f8f9fa;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.burger {
  display: none;
  margin-left: 13.53px;
}

.header {
  position: absolute;
  width: 100%;
  color: #f8f9fa;
  z-index: 1;
}
.header__mob {
  display: none;
}
.header.sticky {
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  color: #212428;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 6;
}
.header.sticky .header__btn {
  position: relative;
  color: #f8f9fa;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #212428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #212428;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  overflow: hidden;
  z-index: 2;
}
.header.sticky .header__btn img {
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header.sticky .header__btn span {
  z-index: 2;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.header.sticky .header__btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 0;
}
.header.sticky .header__btn:hover::before {
  top: 0;
}
.header.sticky .header__btn:hover span {
  color: #212428;
}
.header.sticky .header__btn:hover img {
  -webkit-filter: brightness(4) invert(1);
          filter: brightness(4) invert(1);
}
.header.sticky .services-dropdown {
  top: 55%;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: block;
  cursor: pointer;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: padding-bottom 0.5s, color 0.3s ease;
  transition: padding-bottom 0.5s, color 0.3s ease;
}
.header__nav-item img {
  width: 16px;
  height: 20px;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.3s ease;
  transition: transform 0.5s ease, opacity 0.3s ease, -webkit-transform 0.5s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.header__nav-href {
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f8f9fa;
}
.header__nav-href:hover {
  color: #c5c5c5;
}
.header__btn {
  margin-left: 18px;
  position: relative;
  color: #212428;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #212428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #f8f9fa;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  overflow: hidden;
  z-index: 2;
  line-height: normal;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__btn img {
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__btn span {
  z-index: 2;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.header__btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212428;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 0;
}
.header__btn:hover::before {
  top: 0;
}
.header__btn:hover span {
  color: #f8f9fa;
}
.header__btn:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.header__btn:hover {
  border: 1px solid #f8f9fa;
}

.services-dropdown {
  position: absolute;
  left: 9%;
  right: 0;
  top: 69%;
  width: 82%;
  padding-top: 2rem;
  padding-left: 42px;
  padding-right: 42px;
  cursor: auto;
  opacity: 0;
  visibility: hidden;
}
.services-dropdown.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.4s ease, visibility 0s 0s;
  transition: opacity 0.4s ease, visibility 0s 0s;
}
.services-dropdown__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 68px;
  background: #f8f9fa;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-box-shadow: 0px 34px 36px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 34px 36px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0px 0px 32px 32px;
}
.services-dropdown__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 12px;
}
.services-dropdown__block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services-dropdown__block-list-item {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.services-dropdown__block-list-item:first-child {
  padding-top: 0;
}
.services-dropdown__block-list-item:last-child {
  padding-bottom: 0;
}
.services-dropdown__block-list-item a {
  position: relative;
}
.services-dropdown__block-list-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.services-dropdown__block-list-item a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.services-dropdown h2 {
  color: #212428;
  font-weight: 500;
  font-size: 24px;
  margin-top: 1.75rem;
  margin-bottom: 0.5rem;
}
.services-dropdown h2:first-child {
  margin-top: 0;
}
.services-dropdown a {
  line-height: 24px;
  font-size: 16px;
  text-decoration: none;
  color: #212428;
}
.services-dropdown a::after {
  background-color: #000000;
}

.line {
  background-color: white;
  padding: 18px 0;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  bottom: 0;
}
.line .track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  -webkit-animation: slide 50s linear infinite;
          animation: slide 50s linear infinite;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}
.line img {
  height: 100%;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-70.6%);
            transform: translateX(-70.6%);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-70.6%);
            transform: translateX(-70.6%);
  }
}

.pre-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 67%;
  gap: 24px;
  background-color: white;
  border-radius: 24px;
}
.pre-footer__contacts {
  line-height: normal;
  background-color: white;
  border-radius: 24px;
  padding: 48px 32px;
}
.pre-footer__contacts p {
  color: #969696;
}
.pre-footer__contacts-offices {
  margin-bottom: 32px;
}
.pre-footer__contacts-countries {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.pre-footer__contacts-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}
.pre-footer__contacts-country p {
  color: #212428 !important;
}
.pre-footer__contacts-countryName {
  font-weight: 700;
}
.pre-footer__contacts-blockText {
  line-height: 24px;
}
.pre-footer__contacts__emailBlock {
  font-size: 18px;
}
.pre-footer__contacts h4 {
  margin-bottom: 18px;
}
.pre-footer__contacts a {
  color: #969696;
  position: relative;
}
.pre-footer__contacts a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: #212428;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.pre-footer__contacts a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.pre-footer__contacts img {
  width: 16px;
  height: 16px;
}
.pre-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52%;
  color: #212428;
  font-weight: 500;
  font-size: 72px;
}
.pre-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 144px;
  gap: 24px;
}
.pre-footer__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  width: 50%;
  max-width: 636px;
}
.pre-footer__contact-form input {
  padding-top: 2rem;
  height: 56px;
  font-size: 16px;
}
.pre-footer__form-group {
  height: 72px;
}
.pre-footer__form-group label {
  display: block;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 24px;
}
.pre-footer__checkbox-group {
  position: relative;
  margin-top: 22px;
  left: 10px;
  line-height: 24px;
}
.pre-footer__checkbox-group label {
  color: #212428;
  font-size: 16px;
}
.pre-footer__checkbox-group-real-checkbox {
  display: none;
}
.pre-footer__checkbox-group-real-checkbox:checked ~ .pre-footer__checkbox-group__custom-checkbox {
  background-color: #212428;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.pre-footer__checkbox-group-real-checkbox:checked:hover ~ .pre-footer__checkbox-group__custom-checkbox {
  opacity: 0.6;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.pre-footer__checkbox-group__custom-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #212428;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
  right: 8px;
}
.pre-footer__checkbox-group__custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 10px;
  background-image: url("../img/index/footer/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 1px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.pre-footer__checkbox-group__custom-checkbox:hover {
  opacity: 0.6;
}
.pre-footer__policy-link {
  color: #999;
}
.pre-footer__policy-link:hover {
  text-decoration: underline;
}
.pre-footer__policy-link .required {
  color: red;
}
.pre-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 144px;
}
.pre-footer__form__btn {
  margin-top: 48px;
  position: relative;
  color: #f8f9fa;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #212428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #212428;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  overflow: hidden;
  z-index: 2;
  line-height: 19px;
  padding: 15px 24px 15px 32px;
  width: 100%;
  z-index: 1;
}
.pre-footer__form__btn img {
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pre-footer__form__btn span {
  z-index: 2;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.pre-footer__form__btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 0;
}
.pre-footer__form__btn:hover::before {
  top: 0;
}
.pre-footer__form__btn:hover span {
  color: #212428;
}
.pre-footer__form__btn:hover img {
  -webkit-filter: brightness(4) invert(1);
          filter: brightness(4) invert(1);
}
.pre-footer__red {
  color: red;
}

.footer {
  padding: 72px 0px;
  background-color: #212428;
}
.footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.footer__branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.footer__branding p {
  line-height: 27px;
  color: #fff;
  font-weight: 16px;
  font-size: 400;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 24px;
}
.footer__icons-icon {
  cursor: pointer;
  height: 56px;
  padding: 12px;
  border-radius: 50%;
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #212428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #212428;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  overflow: hidden;
  z-index: 2;
  background-color: #343a40;
}
.footer__icons-icon img {
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__icons-icon span {
  z-index: 2;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.footer__icons-icon::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 0;
}
.footer__icons-icon:hover::before {
  top: 0;
}
.footer__icons-icon:hover span {
  color: #212428;
}
.footer__icons-icon:hover img {
  -webkit-filter: brightness(4) invert(1);
          filter: brightness(4) invert(1);
}
.footer__icons-reviewed {
  cursor: pointer;
  background-color: white;
  padding-top: 8.3px;
  padding: 8.3px 5.1%;
  width: 202px;
  border-radius: 100px;
}
.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
.footer__text p {
  opacity: 0.6;
  font-size: 18px;
}
.footer__text a {
  cursor: pointer;
  opacity: 0.6;
  font-size: 18px;
}
.footer__text a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.footer__text a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.footer__text-policy {
  cursor: pointer;
}
.footer__others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px;
}

.form-control {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 0px;
  padding: 0;
  border-bottom: 1px solid #ccc;
  color: #212428;
  font-weight: 400;
  font-size: 24px;
}
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #212428;
  background-color: #f8f9fa;
}

.form-control:focus {
  background-color: #fff;
}

.form-floating label {
  color: #a8a8a8;
  font-weight: 400;
  font-size: 16px;
  top: 10px;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  -webkit-transition: color 0.4s ease, font-size 0.3s ease, -webkit-transform 0.4s ease;
  transition: color 0.4s ease, font-size 0.3s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, color 0.4s ease, font-size 0.3s ease;
  transition: transform 0.4s ease, color 0.4s ease, font-size 0.3s ease, -webkit-transform 0.4s ease;
  padding-left: 0.75rem;
}

.tel label {
  font-size: 16px !important;
  top: 20px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.form-floating > label {
  padding: 0px;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 0px;
}

.form-floating:focus label {
  opacity: 0;
}

.form-control:not(:-moz-placeholder-shown) + label {
  top: 10px;
  color: #000000;
  opacity: 1 !important;
}

.form-control:not(:-ms-input-placeholder) + label {
  top: 10px;
  color: #000000;
  opacity: 1 !important;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
  top: 10px;
  color: #000000;
  opacity: 1 !important;
}

.form-control:not(:-moz-placeholder-shown) + .telephone {
  top: 0px;
  color: #000000;
}

.form-control:not(:-ms-input-placeholder) + .telephone {
  top: 0px;
  color: #000000;
}

.form-control:focus + .telephone,
.form-control:not(:placeholder-shown) + .telephone {
  top: 0px;
  color: #000000;
}

.mb-3 {
  margin-bottom: 0 !important;
}

.form-floating > .form-control:not(:-moz-placeholder-shown) {
  padding-bottom: 0;
}

.form-floating > .form-control:not(:-ms-input-placeholder) {
  padding-bottom: 0;
}

.form-floating > .form-control:not(:placeholder-shown) {
  padding-bottom: 0;
}

.form-floating {
  position: relative;
}
.form-floating:hover label {
  color: #212428;
}
.form-floating:hover input {
  border-bottom: 1px solid #212428;
}
.form-floating:focus label {
  color: #212428;
  opacity: 1;
}

.iti {
  width: 100%;
}
.iti__country-container {
  display: none;
  top: 15px;
}
.iti__selected-country-primary {
  width: 100%;
}
.iti input {
  padding-top: 1rem;
}
.iti__selected-dial-code {
  color: #212428;
  font-weight: 400;
  font-size: 16px;
}
.iti__dial-code {
  color: #212428;
}
.iti__dial-code::before {
  content: "(";
}
.iti__dial-code::after {
  content: ")";
}
.iti__dropdown-content {
  margin-top: 9px;
  height: 349px;
  -webkit-box-shadow: -6px 6px 12px 0px rgba(0, 0, 0, 0.2509803922) !important;
          box-shadow: -6px 6px 12px 0px rgba(0, 0, 0, 0.2509803922) !important;
  border-radius: 16px;
  padding: 16px 32px 24px;
  border: none !important;
}
.iti__search-input {
  position: relative;
  color: #212428;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0.5rem;
  height: 57px !important;
  padding: 25px 0 8px 6px !important;
  font-size: 16px !important;
  border-bottom: 1px solid #b5b5b5;
  outline: none;
}
.iti__search-input::before {
  content: "";
  background-image: url("/img/index/form/search.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.iti__country-container.error {
  top: -10px;
}
.iti__country-list {
  color: #212428;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  max-height: 244px !important;
}
.iti:hover .iti__search-input {
  border-bottom: 1px solid #b5b5b5 !important;
}

.focus {
  -webkit-transform: translateY(-20px) !important;
          transform: translateY(-20px) !important;
  font-size: 20px !important;
  color: #212428 !important;
}

.noscroll {
  overflow-y: hidden;
}

.overlay.active {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.form-error {
  display: none;
  height: 24px;
  padding: 4px 0px;
  color: red;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 375px) {
  .container {
    max-width: 100%;
    padding: 0px 10px;
  }
  .footer__icons {
    gap: 8px;
  }
  .footer__icons-reviewed {
    width: 100%;
  }
  .footer__icons-reviewed img {
    width: 100%;
  }
  .pre-footer__wrapper {
    padding: 8px;
  }
  .pre-footer__title h1 {
    font-size: 20px;
  }
  .pre-footer__contacts__emailBlock {
    font-size: 12px;
  }
}
@media (max-width: 416px) {
  .pre-footer__form__btn {
    margin-top: 68px;
  }
}
@media (max-width: 516px) {
  .line {
    height: 83px;
  }
  .popup__content {
    margin: 0 10px;
  }
  .popup__btn {
    margin-top: 64px;
  }
  .pre-footer__wrapper {
    padding: 32px;
  }
}
@media (min-width: 375px) {
  .container {
    max-width: 100%;
    padding: 0px 10px;
  }
  .pre-footer__title h1 {
    font-size: 24px;
  }
  .pre-footer__contacts__emailBlock {
    font-size: 16px;
  }
  .footer__branding p {
    text-align: center;
  }
  .footer__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__text-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .header__logo img {
    height: 18px;
    width: 111px;
  }
  .pre-footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pre-footer__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pre-footer__wrapper {
    width: 100%;
  }
  .pre-footer__contacts {
    padding: 32px;
  }
  .footer__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 48px;
  }
  .footer__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo img {
    width: 236px;
    height: 40px;
  }
  .popup__content {
    padding: 24px 20px;
  }
}
@media (min-width: 516px) {
  .container {
    max-width: 100%;
    padding: 0px 16px;
  }
  .pre-footer__wrapper {
    padding: 32px;
  }
  .pre-footer__title h1 {
    font-size: 30px;
  }
  .popup__btn {
    margin-top: 32px !important;
  }
  .sticky .container {
    padding: 0;
  }
}
@media ((min-width: 394px) and (max-width: 523px)) {
  .popup__btn {
    margin-top: 3rem !important;
  }
}
@media (max-width: 1000px) {
  .header {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 16px 0;
  }
  .header__btn {
    padding: 7px 15px;
  }
  .header__btn img {
    display: none;
  }
  .header__nav {
    margin-left: auto;
  }
  .header__nav-menu.mobile {
    padding: 116px 10px 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 41, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .header__nav-menu {
    display: none;
  }
  .header__nav-item {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .header__mob {
    position: fixed;
    width: 100%;
    height: 100dvh;
    bottom: 0;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__mob-inner-list, .header__mob-list .header__mob-title {
    display: none;
  }
  .header__mob-inner-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__mob-inner-list li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 12px 1rem 10px;
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 71%, 0.3);
    font-size: 16px;
  }
  .header__mob-left {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
  }
  .header__mob a,
  .header__mob span {
    color: #f8f9fa;
    font-weight: 400;
    font-size: 16px;
  }
  .header__mob-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 12px 1rem 10px;
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 71%, 0.3);
    font-size: 16px;
  }
  .header__mob-caption p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__mob img {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .header__mob-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid hsla(0, 0%, 71%, 0.3);
  }
  .header__mob-title.main {
    padding: 1rem 0;
  }
  .header__mob-title span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 45%;
  }
  .header__mob-back img {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .header.menu-active {
    padding: 1rem 0;
  }
  .header.menu-active .header__btn {
    position: relative;
    z-index: -1;
  }
  .header.menu-active .header__row {
    padding: 1rem 10px;
  }
  .header.menu-active .header__logo {
    display: none;
    z-index: 2;
  }
  .header.menu-active .header__logo img {
    max-height: 1.6rem;
    max-width: 150px;
  }
  .header.menu-active .header__nav-item {
    height: 61px;
    padding: 1rem 12px 1rem 10px;
    border-bottom: 1px solid hsla(0, 0%, 71%, 0.3);
  }
  .header.menu-active .header__nav-item-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid hsla(0, 0%, 71%, 0.3);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header.menu-active .header__nav-item img {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .services-dropdown {
    display: none;
  }
  .burger {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 999;
    display: block;
    position: relative;
    width: 21px;
    height: 16.8px;
    cursor: pointer;
  }
  .burger span, .burger::before, .burger::after {
    left: 0;
    position: absolute;
    height: 9%;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-color: #fff;
    border-radius: 100px;
  }
  .burger::before, .burger::after {
    content: "";
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, 0px);
            transform: scale(1) translate(0px, 0px);
  }
  .burger.open {
    width: 25px;
  }
  .burger.open::before {
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
    top: 50%;
  }
  .burger.open::after {
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
    bottom: 50%;
  }
  .burger.open span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .popup__btn {
    width: 100%;
  }
  .popup__title {
    font-size: 20px;
  }
  .popup__content {
    border-radius: 16px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0px 16px;
  }
  .pre-footer__wrapper {
    padding: 48px;
  }
  .pre-footer__title {
    width: 60%;
  }
  .pre-footer__title h1 {
    font-size: 32px;
    line-height: normal;
  }
  .pre-footer__form__btn {
    margin-top: 56px;
  }
  .pre-footer__contacts {
    padding: 48px 24px;
    min-width: 350px;
    width: 40%;
  }
  .popup__content {
    padding: 24px 30px;
  }
  .sticky .container {
    padding: 0;
  }
  .header {
    padding: 23px 1rem;
  }
}
@media (min-width: 1001px) {
  .container {
    padding: 0px 32px;
    max-width: 1380px;
  }
  .sticky .container {
    padding: 0;
  }
  .header {
    padding: 32px 0px;
  }
  .header__logo {
    display: block;
  }
  .header__btn {
    padding: 11px 16px 11px 24px;
  }
  .header__btn img {
    display: block;
  }
  .header__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav-item:hover {
    color: #c5c5c5;
  }
  .header__nav-item:hover img {
    opacity: 0.6;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    padding-bottom: 4%;
  }
  .header-white {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #212428;
    background-color: #f8f9fa;
  }
  .header-white .header__nav-href {
    color: #212428;
  }
  .header-white img {
    -webkit-filter: brightness(1) invert(1);
            filter: brightness(1) invert(1);
  }
  .header-white .burger-line,
  .header-white .burger::after,
  .header-white .burger::before {
    -webkit-filter: brightness(1) invert(1);
            filter: brightness(1) invert(1);
  }
  .header-white .header__btn {
    color: #f8f9fa;
    background-color: #212428;
  }
  .pre-footer {
    margin: 0 17px;
  }
  .pre-footer__title h1 {
    font-size: 36px;
    line-height: 1.1;
  }
  .pre-footer__wrapper {
    padding: 48px;
  }
  .pre-footer__title {
    width: 45%;
    line-height: normal;
  }
  .pre-footer__contacts {
    width: 376px;
  }
  .pre-footer__form__btn {
    margin-top: 24px;
  }
  .popup__btn {
    width: 167px;
  }
  .popup__content {
    padding: 32px 64px;
  }
}
@media (max-width: 1200px) {
  .pre-footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pre-footer__contact-form {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1296px;
    padding: 0px 42px;
  }
  .pre-footer {
    margin: 0 17px;
  }
  .pre-footer__title h1 {
    font-size: 40px;
    line-height: normal;
  }
  .pre-footer__contacts {
    width: 35%;
    padding: 24px;
  }
  .pre-footer__title h1 {
    width: 100%;
  }
  .pre-footer__form__btn {
    margin-top: 64px;
  }
}
@media (max-width: 1400px) {
  .services-dropdown {
    left: 0;
    width: 100%;
  }
  .services-dropdown__wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .services-dropdown a {
    font-size: 14px;
  }
  .services-dropdown h2 {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1326px;
    padding: 0px 15px;
  }
  .pre-footer__title h1 {
    font-size: 42px;
  }
  .pre-footer__contacts {
    padding: 48px 32px;
  }
  .pre-footer .header__wrapper {
    padding: 0;
  }
  .pre-footer .footer .container {
    padding: 0;
  }
}