.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}
.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__title {
  color: #212428;
  font-weight: 500;
  font-size: 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 40px;
  border-radius: 32px;
  width: 50%;
  width: 836px;
  position: relative;
  z-index: 30;
}
.popup__close {
  font-size: 30px;
  cursor: pointer;
}
.popup__content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup__red {
  color: red;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #f8f9fa;
  overflow-x: hidden;
}
body h1 {
  color: #212428;
  font-weight: 500;
  font-size: 50px;
}
body a {
  position: relative;
}
body a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
body a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0px 10px;
}

.header {
  position: absolute;
  width: 100%;
  color: white;
  padding: 32px 0px;
  z-index: 1;
}
.header.sticky {
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  color: #212428;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 6;
}
.header.sticky .header__btn {
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #212428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #212428;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  overflow: hidden;
  z-index: 2;
}
.header.sticky .header__btn img {
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header.sticky .header__btn span {
  z-index: 2;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.header.sticky .header__btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 0;
}
.header.sticky .header__btn:hover::before {
  top: 0;
}
.header.sticky .header__btn:hover span {
  color: #212428;
}
.header.sticky .header__btn:hover img {
  -webkit-filter: brightness(4) invert(1);
          filter: brightness(4) invert(1);
}
.header.sticky .services-dropdown {
  top: 55%;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  cursor: pointer;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-item {
  padding: 0px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: padding-bottom 0.5s, color 0.3s ease;
  transition: padding-bottom 0.5s, color 0.3s ease;
}
.header__nav-item img {
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.3s ease;
  transition: transform 0.5s ease, opacity 0.3s ease, -webkit-transform 0.5s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.header__nav-item:hover {
  color: rgb(197, 197, 197);
}
.header__nav-item:hover img {
  opacity: 0.6;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-bottom: 4%;
}
.header__btn {
  position: relative;
  color: #212428;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #212428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #f8f9fa;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  overflow: hidden;
  z-index: 2;
  padding: 11px 16px 11px 24px;
  margin-left: 18px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__btn img {
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__btn span {
  z-index: 2;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.header__btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212428;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 0;
}
.header__btn:hover::before {
  top: 0;
}
.header__btn:hover span {
  color: #f8f9fa;
}
.header__btn:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.header__btn:hover {
  border: 1px solid #f8f9fa;
}
.header-white {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #212428;
  background-color: #f8f9fa;
}
.header-white__nav-item {
  color: #212428;
}
.header-white img {
  -webkit-filter: brightness(1) invert(1);
          filter: brightness(1) invert(1);
}
.header-white .header__btn {
  color: white;
  background-color: #212428;
}

.services-dropdown {
  position: absolute;
  left: 15%;
  top: 69%;
  width: 70%;
  padding-top: 2rem;
  cursor: auto;
  opacity: 0;
  visibility: hidden;
}
.services-dropdown.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.4s ease, visibility 0s 0s;
  transition: opacity 0.4s ease, visibility 0s 0s;
}
.services-dropdown__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 68px;
  background: #f8f9fa;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-box-shadow: 0px 34px 36px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 34px 36px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0px 0px 32px 32px;
}
.services-dropdown__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 12px;
}
.services-dropdown__block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services-dropdown__block-list-item {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.services-dropdown__block-list-item:first-child {
  padding-top: 0;
}
.services-dropdown__block-list-item:last-child {
  padding-bottom: 0;
}
.services-dropdown h2 {
  color: #212428;
  font-weight: 500;
  font-size: 24px;
  margin-top: 1.75rem;
  margin-bottom: 0.5rem;
}
.services-dropdown h2:first-child {
  margin-top: 0;
}
.services-dropdown a {
  line-height: 24px;
  font-size: 16px;
  text-decoration: none;
  color: #212428;
}
.services-dropdown a::after {
  background-color: rgb(0, 0, 0);
}

.line {
  background-color: white;
  padding: 18px 0;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  bottom: 0;
}
.line .track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  -webkit-animation: slide 50s linear infinite;
          animation: slide 50s linear infinite;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}
.line img {
  height: 100%;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50.5%);
            transform: translateX(-50.5%);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50.5%);
            transform: translateX(-50.5%);
  }
}

.pre-footer__title {
  color: #212428;
  font-weight: 500;
  font-size: 72px;
  width: 50%;
  max-width: 636px;
}
.pre-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 144px;
}
.pre-footer__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  gap: 8px;
  max-width: 636px;
  margin: 0 auto;
}
.pre-footer__contact-form input {
  padding-top: 2rem;
  height: 56px;
  font-size: 24px;
}
.pre-footer__form-group {
  height: 72px;
}
.pre-footer__form-group label {
  display: block;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 24px;
}
.pre-footer__checkbox-group {
  position: relative;
  margin: 24px 0px;
  left: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 24px;
}
.pre-footer__checkbox-group label {
  color: #212428;
  font-size: 16px;
}
.pre-footer__checkbox-group-real-checkbox {
  display: none;
}
.pre-footer__checkbox-group-real-checkbox:checked ~ .pre-footer__checkbox-group__custom-checkbox {
  background-color: #212428;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.pre-footer__checkbox-group-real-checkbox:checked:hover ~ .pre-footer__checkbox-group__custom-checkbox {
  opacity: 0.6;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.pre-footer__checkbox-group__custom-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #212428;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
  right: 8px;
}
.pre-footer__checkbox-group__custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 10px;
  background-image: url("../img/index/footer/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 1px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.pre-footer__checkbox-group__custom-checkbox:hover {
  opacity: 0.6;
}
.pre-footer__policy-link {
  color: #999;
}
.pre-footer__policy-link:hover {
  text-decoration: underline;
}
.pre-footer__policy-link .required {
  color: red;
}
.pre-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 144px;
}
.pre-footer__form__btn {
  position: relative;
  color: #f8f9fa;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #212428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #212428;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  overflow: hidden;
  z-index: 2;
  line-height: 19px;
  padding: 15px 24px 15px 32px;
  width: 167px;
  z-index: 1;
}
.pre-footer__form__btn img {
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pre-footer__form__btn span {
  z-index: 2;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.pre-footer__form__btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 0;
}
.pre-footer__form__btn:hover::before {
  top: 0;
}
.pre-footer__form__btn:hover span {
  color: #212428;
}
.pre-footer__form__btn:hover img {
  -webkit-filter: brightness(4) invert(1);
          filter: brightness(4) invert(1);
}
.pre-footer__red {
  color: red;
}

.footer {
  height: 242px;
  padding: 72px 0px;
  background-color: #212428;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  cursor: pointer;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.footer__wrapper-icon {
  cursor: pointer;
  height: 56px;
  padding: 12px;
  border-radius: 50%;
  position: relative;
  color: #f8f9fa;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #212428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #212428;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  overflow: hidden;
  z-index: 2;
  background-color: #343a40;
}
.footer__wrapper-icon img {
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__wrapper-icon span {
  z-index: 2;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.footer__wrapper-icon::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 0;
}
.footer__wrapper-icon:hover::before {
  top: 0;
}
.footer__wrapper-icon:hover span {
  color: #212428;
}
.footer__wrapper-icon:hover img {
  -webkit-filter: brightness(4) invert(1);
          filter: brightness(4) invert(1);
}
.footer__wrapper-reviewed {
  cursor: pointer;
  background-color: white;
  padding-top: 8.3px;
  padding: 8.3px 5.1%;
  width: 202px;
  border-radius: 100px;
}
.footer__text {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
.footer__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.footer__other p {
  opacity: 0.7;
  font-size: 18px;
}
.footer__other a {
  opacity: 0.7;
  font-size: 18px;
}
.footer__other a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.footer__other-policy {
  cursor: pointer;
}

.form-control {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 0px;
  padding: 0;
  border-bottom: 1px solid #ccc;
  color: #212428;
  font-weight: 400;
  font-size: 24px;
}
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #212428;
  background-color: #f8f9fa;
}

.form-floating label {
  color: #a8a8a8;
  font-weight: 400;
  font-size: 24px;
  top: 0px;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  -webkit-transition: color 0.4s ease, font-size 0.3s ease, -webkit-transform 0.4s ease;
  transition: color 0.4s ease, font-size 0.3s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, color 0.4s ease, font-size 0.3s ease;
  transition: transform 0.4s ease, color 0.4s ease, font-size 0.3s ease, -webkit-transform 0.4s ease;
  padding-left: 0.75rem;
}

.form-floating > label {
  padding: 0px;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 0px;
}

.form-floating:focus label {
  opacity: 0;
}

.form-control:not(:-moz-placeholder-shown) + label {
  top: 0px;
  color: #000000;
  opacity: 1 !important;
}

.form-control:not(:-ms-input-placeholder) + label {
  top: 0px;
  color: #000000;
  opacity: 1 !important;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
  top: 0px;
  color: #000000;
  opacity: 1 !important;
}

.form-control:not(:-moz-placeholder-shown) + .telephone {
  top: 0px;
  color: #000000;
}

.form-control:not(:-ms-input-placeholder) + .telephone {
  top: 0px;
  color: #000000;
}

.form-control:focus + .telephone,
.form-control:not(:placeholder-shown) + .telephone {
  top: 0px;
  color: #000000;
}

.form-floating {
  position: relative;
  height: 72px;
}
.form-floating:hover label {
  color: #212428;
}
.form-floating:hover input {
  border-bottom: 1px solid #212428;
}
.form-floating:focus label {
  color: #212428;
  opacity: 1;
}

.iti {
  width: 100%;
}
.iti__country-container {
  display: none;
  top: 15px;
}
.iti__selected-country-primary {
  width: 100%;
}
.iti input {
  padding-top: 1rem;
}
.iti__selected-dial-code {
  color: #212428;
  font-weight: 400;
  font-size: 24px;
}
.iti__dial-code {
  color: #212428;
}
.iti__dial-code::before {
  content: "(";
}
.iti__dial-code::after {
  content: ")";
}
.iti__dropdown-content {
  margin-top: 9px;
  height: 349px;
  -webkit-box-shadow: -6px 6px 12px 0px rgba(0, 0, 0, 0.2509803922) !important;
          box-shadow: -6px 6px 12px 0px rgba(0, 0, 0, 0.2509803922) !important;
  border-radius: 16px;
  padding: 16px 32px 24px;
  border: none !important;
}
.iti__search-input {
  position: relative;
  color: #212428;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0.5rem;
  height: 57px !important;
  padding: 25px 0 8px 6px !important;
  font-size: 16px !important;
  border-bottom: 1px solid #b5b5b5;
  outline: none;
}
.iti__search-input::before {
  content: "";
  background-image: url("/img/index/form/search.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.iti__country-list {
  color: #212428;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  max-height: 244px !important;
}
.iti:hover .iti__search-input {
  border-bottom: 1px solid #b5b5b5 !important;
}

.focus {
  -webkit-transform: translateY(-20px) !important;
          transform: translateY(-20px) !important;
  font-size: 20px !important;
  color: #212428 !important;
}

.noscroll {
  overflow: hidden;
}

.overlay.active {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media (min-width: 375px) {
  .pre-footer__title {
    font-size: 20px;
  }
}
@media (min-width: 516px) {
  .container {
    max-width: 486px;
    padding: 0px 25px;
  }
  .pre-footer__title {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 1150px;
    padding: 0px 25px;
  }
  .sticky .container {
    padding: 0;
  }
  .pre-footer {
    margin: 0 7px;
  }
  .pre-footer__title {
    font-size: 32px;
    line-height: 36px;
  }
  .header__wrapper {
    padding: 0px 7px;
  }
  .footer__all {
    padding: 0px 7px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1296px;
    padding: 0px 25px;
  }
  .pre-footer {
    margin: 0 17px;
  }
  .pre-footer__title {
    font-size: 63px;
    line-height: normal;
  }
  .header__wrapper {
    padding: 0px 17px;
  }
  .footer__all {
    padding: 0px 17px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1326px;
    padding: 0px 25px;
  }
  .pre-footer__title {
    font-size: 72px;
    line-height: normal;
  }
  .header__wrapper {
    padding: 0;
  }
  .footer__all {
    padding: 0px 17px;
  }
  .footer .container {
    padding: 0;
  }
}